<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="name">Enter book name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:indianred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    
    <br/>
    <label for="author">Enter book author: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:indianred" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
 
    <br/>
    <label for="age">Enter year: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:indianred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
        
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>



