<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<b th:text="${person.getName() + ', ' + person.getYearOfBirth()}">VALUE</b>

<hr/>

<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги.</p>
</div>

<div th:if="${!books.isEmpty()}">
    <p>Книги на руках:</p>
    <table th:each="book : ${books}">
        <tr th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</tr>
    </table>
</div>

<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать данные пользователя"/>
</form>

<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить пользователя"/>
</form>

</body>
</html>























