<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getYearOfBirth()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>
    
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать данные пользователя</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить пользователя"/>
</form>

</body>
</html>























